include containmentUnit\config\*
include containmentUnit\public\*
include containmentUnit\public\images\*
include containmentUnit\public\scripts\*
include containmentUnit\public\scripts\datatables\*
include containmentUnit\public\scripts\harviewer\*
include containmentUnit\public\scripts\harviewer\core\*
include containmentUnit\public\scripts\harviewer\domplate\*
include containmentUnit\public\scripts\highcharts\*
include containmentUnit\public\styles\*
include containmentUnit\public\styles\images\*
include containmentUnit\public\styles\images\menu\*
include containmentUnit\public\swf\*
include containmentUnit\public\Wraith\*
include containmentUnit\public\Wraith\configs\*
include containmentUnit\public\Wraith\configs\screenCaptures\*
include containmentUnit\public\Wraith\configs\logs\*
include containmentUnit\public\Wraith\configs\pathData\*
include containmentUnit\public\Wraith\javascript\*
include containmentUnit\templates\*
include containmentUnit\templates\common\*
include containmentUnit\templates\create\*
include containmentUnit\templates\details\*
include containmentUnit\include templates\display\*
include containmentUnit\templates\histogram\*
include containmentUnit\templates\home\*
include containmentUnit\templates\home\CasperScripts\*
include containmentUnit\templates\home\casperForms\*
include containmentUnit\templates\home\images\*
include containmentUnit\dependencyMods\*
include containmentUnit\dependencyMods\bmpExtract\*
include containmentUnit\dependencyMods\executableBase\*
include containmentUnit\dependencyMods\wraith_customFiles\*
include static_build\*
include static_build\js\*
include static_build\js\harStorageExisting\*
include static_build\js\harStorageExisting\datatables\*
include static_build\js\harStorageExisting\harviewer\*
include static_build\js\harStorageExisting\harviewer\core\*
include static_build\js\harStorageExisting\harviewer\domplate\*
include static_build\js\harStorageExisting\highcharts\*
include static_build\sass\*
include static_build\sass\partials\*

