<%namespace name="dochead"  file="/home/dochead.html"/>
<%namespace name="header"   file="/common/header.html"/>
<%namespace name="footer"   file="/common/footer.html"/>

${dochead.html("Containment Unit")}
${header.html()}

<div id="aboutCont">
    <div id="gitHubLink"><a href="https://github.com/DecipherOne/containmentUnit" target="_blank">Follow Us on github</a></div>
    <span class="meredithLogo"></span>
    <div id="aboutDescript">
        Originally developed for use by Meredith Corporation, the containment unit
        is a web interface for running various command line scripts for performance testing.
        The idea is to have an easy to use interface for the non tech savvy to be able run various tests
        without having to get the developers/operators involved. As well as stream line various process for developers too.
        
        Either through using the web interfaces, or utilizing the rest end points, testing can be setup through
        an automation schedule, as well as performed whimsically by anyone who has access to the tool. 
    </div>
    <h2>The containment unit is a web interface/api for a collection of open source performance tools that include:</h2>
    <div class="wraithGalCard">
        <h2>Har Storage</h2>
        <span class="harLogo"></span>
         Last updated in 2012.
         <span class="wcSite"><a href="https://code.google.com/archive/p/harstorage/" target="_blank">Google Code Page</a></span>
         <span class="wcSite"><a href="https://github.com/pavel-paulau/harstorage" target="_blank">Harstorage on github</a></span>
    </div>
    <div class="wraithGalCard">
        <span class="wraithLogo"></span>
        <span class="wcSite"><a href="http://bbc-news.github.io/wraith/">Wraith Site</a></span>
        <span class="wcSite"><a href="https://github.com/BBC-News/wraith">Wraith on github</a></span>
    </div>
    <div class="wraithGalCard" id="casperCard">
        <h2>Casperjs</h2>
        <span class="casperjsLogo"></span>
        <span class="wcSite"><a href="http://casperjs.org/">Casperjs Site</a></span>
        <span class="wcSite"><a href="https://github.com/casperjs/casperjs">Casperjs on github</a></span>
    </div>
    <div class="wraithGalCard" id="phantomCard">
        <h2>Phantomjs</h2>
        <span class="phantomjsLogo"></span>
        <span class="wcSite"><a href="http://phantomjs.org/">Phantomjs Site</a></span>
        <span class="wcSite"><a href="https://github.com/ariya/phantomjs">Phantomjs on github</a></span>
    </div>
    <div class="wraithGalCard" id="pythonCard">
        <h2>Python 2.7</h2>
        <span class="pythonLogo"></span>
        <span class="wcSite"><a href="https://www.python.org/download/releases/2.7/">Pyhton 2.7 Site</a></span>
    </div>
</div>

${footer.html()}