<%namespace name="jsloader" file="/home/jsloader.html"/>
<%namespace name="dochead"  file="/home/dochead.html"/>
<%namespace name="header"   file="/common/header.html"/>
<%namespace name="footer"   file="/common/footer.html"/>

${dochead.html("Containment Unit")}
${header.html()}
<div id="mainContent" class="tabber" style="margin:16px auto 16px auto;">
    <div id="resultsCont" class="tabbertab ">
        <h3 style="display:none;">Har Records</h3>
        <%include file="/home/results.html"/>
    </div>
    <div id="ectoCont" class="tabbertab">
        <h3 style="display:none;">Ecto Cooler</h3>
        <%include file="/home/ectoCooler.html"/>
    </div>
    <div id="wraithCont" class="tabbertab">
        <h3 style="display:none;">Wraith Galleries</h3>
        <%include file="/home/penumbra.html"/>
    </div>
</div>                
${jsloader.html()}
${footer.html()}
