<div id="ectoMain">
    <form id="casperForm" class="uploader">
        <div id="logo"></div>
        <select id="casperScripts">
            <option value='0' selected>Select the script to run</option>
            <option value='1' >Performance Measurement - Har Storage</option>
            <option value='2' >Wraith Image Regression</option>
        </select>
        <fieldset id="harOptions">
            <legend>ScriptOptions</legend>
            <div id="scriptOptCont" >
                <div id="waitTimeCont">
                    <label for="waitTime">Seconds to Wait</label></br>
                    <input id="waitTime" placeholder="5" type="number" value="5" />
                </div>
                <div id='exeTimeCont'>
                    <label for="timesToExe">Times to Run</label></br>
                    <input id="timesToExe" placeholder="1" type="number" value="1" />
                </div>
                <div id='throttlingCont'>
                    <label for="enableThrottle">Enable Network Throttling</label></br>
                    <input id="enableThrottle"  type="checkbox"/>
                    <select id="networkThrottle" disabled>
                        <option value='1' selected>4G 8mps dl / 2mps ul</option>
                        <option value='2' >3G 2mps dl/ 600kps ul</option>
                        <option value='3'>2G/Edge 600kps dl/ 100kps ul</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <button id="ghostIt" class="button"  type="button">Execute Script</button>
    </form>
    <div id="scriptOutputCont">
        <span id="scriptOutput">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;# ---- Script Output ---- #
            </p>
        </span>
    </div>
</div>
<div style="display:none;" id="loadBuffer"></div>