/* 
    Created on : May 13, 2016, 3:00:17 PM
    Author     : WillC
*/

.header{
    height: 75px;
    background-color: black;
    padding: 16px 8px;
    position: relative;
    top: -10px;
    width: 100%;
    margin: 0px;
    margin-left:-7px;
    box-shadow: 1px 10px 10px #1D0101;
}